@import '../../style/theme';

.TodoList-headerWrapper {
  // margin-bottom: 10px;
  white-space: normal;
}


.TodoList-textWrapper {
  float: left;
  // max-width: 75%;
  // padding-left: $bigSep;
  padding-right: $bigSep;
  position: relative;
}


.TodoList-name {
  margin:      0;
  margin-left: $smallSep;
  // display:     inline-block;
}

.TodoList-name {
  
}

.TodoList-descriptionWrapper {
  margin-left: $smallSep;
  margin-top: $smallSep;
  max-width: 80%;
  @media screen and (min-width: $bootstrap-md-min) {
    max-width: 100%;
    margin-top: $bigSep;
    
  }
}


.TodoList-buttonWrapper {
  float:        right;
  max-width: 20%;
  padding-left: $bigSep;
  // padding-right: $bigSep;
  position: relative;
  // display:      inline-block;
  // margin-right: $bigSep;
  // 
  @media screen and (min-width: $bootstrap-md-min) {
    max-width: 30%;
  }
}

.TodoList-button {
  // float:       right;
  // margin-left: 10px;
  // &:last-of-type {
  //   margin-right: $smallSep;
  // }
}

.TodoList-detailButton {
  margin-top:  $smallSep;
  margin-left: $smallSep;
}














.TodoList-itemWrapper {
  white-space: normal;
  padding:     $padding;
  
  &:first-of-type {
    margin-top: 10px;
  }
}
.TodoList-listOfItems {
  margin-bottom: 0;
}
