<!-- TODO: make this prettier -->
<!-- TODO: figure out styling for mobile/desktop -->
<!-- TODO: build closer view to see more about the list, view description, actions, comments, etc.  -->

<section class="TodoList" data-ng-init="listCtrl.initialize()">
  
  <!-- TODO: make a click event for this on mobile to take you to the list view -->
  <div class="TodoList-headerWrapper clearfix">
    
    <div class="TodoList-buttonWrapper">
      <!-- LIST DETAIL VIEW BUTTON -->
      <button 
      type="menu" 
      name="TodoList-showListDetail"
      class="TodoList-showListDetail TodoList-button btn btn-default hidden-md hidden-lg is-hidden-while-current-list-exists pull-right"
      data-ng-click="listCtrl.showListAndItsItemsBelowMdScreens()"
      data-ng-hide="listCtrl.nameEditable"
      aria-label="View list"
      >
        <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
      </button>
      
      
      <!-- ADD ITEM BUTTON -->
      <button 
      type="menu" 
      name="TodoList-addItem"
      class="TodoList-detailButton TodoList-button btn btn-default is-hidden-below-md pull-right"
      data-ng-class="{ 'btn-primary': !listCtrl.addItemVisible }"
      data-ng-click="!listCtrl.addItemVisible && listCtrl.showAddItemForm()"
      data-ng-hide="listCtrl.nameEditable"
      aria-controls="{{ listCtrl.list.name }}-listActions"
      aria-disabled="{{ listCtrl.addItemVisible }}"
      aria-label="Add an item"
      >
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
      </button>
        
      <!-- EDIT LIST BUTTON   -->
      <button 
      type="menu" 
      name="TodoList-showEditListForm"
      class="TodoList-detailButton TodoList-button btn btn-default is-hidden-below-md pull-right"
      data-ng-click="listCtrl.showEditListForm()"
      data-ng-hide="listCtrl.nameEditable"
      aria-controls="EditListForm"
      aria-label="Edit list"
      >
        <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
    
    <!-- <div class="TodoList-textWrapper"> -->
      <h2 
      class="TodoList-name"
      data-ng-bind="listCtrl.list.name"
      ></h2>
      <div class="TodoList-descriptionWrapper is-hidden-below-md"><p
      class="TodoList-description"
      data-ng-bind="listCtrl.list.description"
      ></p></div>
    <!-- </div> -->
  </div>

  <!-- LIST ITEMS -->
  <ul  
  class="TodoList-listOfItems list-group is-hidden-below-md"
  dnd-list="listCtrl.list.items"
  dnd-allowed-types="['TodoItem']"
  dnd-drop="listCtrl.itemDropped(event, index, item, external, type, 'TodoItem')"
  >
    <!-- ADD ITEM FORM -->
    <li 
    class="TodoList-contentWrapper TodoList-addItemFormWrapper list-group-item"
    data-ng-if="listCtrl.addItemVisible"
    >
      <new-item-form list="list" toggle-visibility="listCtrl.showAddItemForm()"></new-item-form>
    </li>
    
    <!-- LIST ITEMS -->
    <li 
    class="TodoList-contentWrapper TodoList-itemWrapper  list-group-item clearfix"
    data-ng-repeat="item in listCtrl.list.items"
    data-ng-if="listCtrl.list.items.length"
    dnd-draggable="item"
    dnd-effect-allowed="move"
    dnd-type="'TodoItem'"
    dnd-moved="listCtrl.itemMoved($index, event)"
    >
      <todo-item item="item" list="list"></todo-item>
    </li>
  </ul>
  
</section>
