@import '../../style/theme';

.TodoList-headerWrapper {
  // margin-bottom: 10px;
  white-space: normal;
}


.TodoList-textWrapper {
  float:         left;
  // max-width: 75%;
  // padding-left: $bigSep;
  padding-right: $bigSep;
  position:      relative;
}


.TodoList-name {
  // margin:      0;
  // margin-left: $smallSep;
  // color: $opaqueBgColor;
  // display:     inline-block;
}


.TodoList-descriptionWrapper {
  margin-left: $smallSep;
  margin-top:  $smallSep;
  max-width:   80%;
  color:       $grey9;
  
  @media screen and (min-width: $bootstrap-md-min) {
    max-width:  100%;
    margin-top: $bigSep;  
  }
}


.TodoList-buttonWrapper {
  float:        right;
  max-width:    20%;
  padding-left: $bigSep;
  position:     relative;

  .btn-default {
    background-color: $lightGreyLighten;
    border-color:     $lightGreyLightenBorder;
    color:            white;
    
    &:hover {
      background-color: $darkGreyLighten;
      border-color:     $darkGreyLightenBorder;
    }
  }
  .btn-primary {
    background-color: $lightBlue;
    border-color:     $lightBlueBorder;
    
    &:hover {
      background-color: $darkBlue;
      border-color:     $darkBlueBorder;
    }
  }

  @media screen and (min-width: $bootstrap-md-min) {
    max-width: 30%;
  }
}

.TodoList-button {
  // float:       right;
  // margin-left: 10px;
  // &:last-of-type {
  //   margin-right: $smallSep;
  // }
}

.TodoList-detailButton {
  margin-top:  $smallSep;
  margin-left: $smallSep;
}











.TodoList-listOfItems {
  margin-bottom: 0;
}

.TodoList-contentWrapper {
  white-space: normal;
  padding:     $padding;
  
  &:first-of-type {
    margin-top: 10px;
  }
}

.TodoList-addItemFormWrapper {
  // border-radius: $borderRadius;
  // margin-bottom: $medSep;
  // background-color: $opaqueBgColor;
  // border-color: 1px $greyD solid;
}

.TodoList-itemWrapper {
  
  // &:first-of-type {
  //   border-top-left-radius:  $borderRadius;
  //   border-top-right-radius: $borderRadius; 
  // }
}
