@import '~font-awesome/scss/font-awesome';
@import '../../style/theme';

.TodoItem-buttonWrapper {
  float: right;
}
.TodoItem-starredForm-checkbox {
  display: none;
}


.TodoItem-showItemActions {
  @include no-border-button;
  color:  $lightBlue;
  
  &:hover {
    color: $darkBlue;
  }
}


.TodoItem-starredForm-label {
  @include no-border-button;
  margin-bottom: 0;
  
  // ///////////////////////////////////////////////
  // UNSTARRED STATE
  // ///////////////////////////////////////////////
  .TodoItem-starredForm-checkbox + & {
    color:   $starColor;
    
    &:hover {
      color:  lighten($starColor, 30%);
    }
    
    &::before {
      @include fa-icon;
      content: '\f006';
      
      // ///////////////////////////////////////////////
      // STARRED STATE
      // ///////////////////////////////////////////////
      @at-root #{selector-replace(&, ".TodoItem-starredForm-checkbox", ".TodoItem-starredForm-checkbox.is-starred")} {
        filter:  drop-shadow(0 0 5px $starColor);
        content: '\f005';
      }
    }
  }
}
