@import '../../style/theme';

.TodoItem-name {
  margin-top: 0;
  display: inline-block;
}

.TodoItem-showItemActions {
  float: right;
  border: none; 
}

.TodoItem {
  
  
  label {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    color: $grey8;
  }
}
