<article class="TodoItem" data-ng-init="itemCtrl.initialize()">
  
  <!-- preview -->
  <div 
  class="TodoItem-collapsedView"
  data-ng-click="itemCtrl.toggleItemActionsVisibility()"
  aria-controls="{{ itemCtrl.item.name }}-editItemForm"
  >
    <h3
    class="TodoItem-name"
    data-ng-bind="itemCtrl.item.name"
    ></h3>
    <p
    class="TodoItem-content"
    data-ng-bind="itemCtrl.item.content"
    ></p>
  </div>
  
  
  <!-- background screen -->
  <div 
  class="TodoItem-itemActionsBackgroundScreen bg-screen"
  data-ng-hide="itemCtrl.itemActionsHidden"
  ></div>
  
  <!-- form -->
  <div 
  class="TodoItem-itemActions"
  data-ng-hide="itemCtrl.itemActionsHidden"
  >
    <button 
    type="reset" 
    name="closeItemActions"
    class="TodoItem-closeEditItemForm close"
    aria-label="Close"
    data-ng-click="itemCtrl.toggleItemActionsVisibility()"
    >
      <span aria-hidden="true">&times;</span>
    </button>  
    
    <form 
    id="{{ itemCtrl.item.name }}-editItemForm"
    name="editItemForm"
    class="TodoItem-editItemForm"
    action="javascript:void(0);"
    aria-hidden="{{ itemCtrl.itemActionsHidden }}"
    novalidate
    >
      <div class="form-group">
        <label for="{{ itemCtrl.item.name }}-nameInput" class="sr-only">Item name</label>
        <input 
        id="{{ itemCtrl.item.name }}-nameInput"
        type="text" 
        name="name" 
        class="TodoItem-input form-control"
        placeholder="{{ itemCtrl.item.name }}"
        data-ng-model="itemCtrl.itemEdits.name"
        required
        >
      </div>
      
      <div class="form-group">
        <label for="{{ itemCtrl.item.content }}-contentInput" class="sr-only">Item content</label>
        <input 
        id="{{ itemCtrl.item.content }}-contentInput"
        type="text" 
        name="content" 
        class="TodoItem-input form-control"
        placeholder="{{ itemCtrl.item.content }}"
        data-ng-model="itemCtrl.itemEdits.content"
        >
      </div>
      
      <div class="form-group">
        <label for="{{ itemCtrl.item.name }}-selectList" class="sr-only">Move to another list</label>
        <select 
        id="{{ itemCtrl.item.name }}-selectList"
        class="TodoItem-selectList form-control" 
        name="TodoItem-selectList"
        data-ng-model="itemCtrl.itemEdits.list"
        data-ng-options="list as list.name for list in itemCtrl.listManager.lists track by list._id"
        ></select>
      </div>
      
      <button 
      type="submit" 
      name="submitItemEdits"
      class="TodoItem-submitItemEdits TodoItem-button btn btn-primary"
      data-ng-click="editItemForm.$valid && itemCtrl.saveChangesToItem()"
      >Save changes</button>
    </form>
      
  </div>
  
</article>
