$nebula: #CEDAD8;
$greyA: #aaa;
$greyC: #ccc;
$grey8: #888;
$lightGreyShadow: rgba(0,0,0, .1);

$bootstrap-md: 992px;
$bootstrap-md-min: $bootstrap-md;
$bootstrap-md-max: $bootstrap-md - 1;

$input-bottom-margin: 1em;
