<!-- TODO: make this prettier -->

<section class="ListForm clearfix">
  <form
  id="ListForm-form" 
  novalidate
  class="ListForm-form "
  name="listForm"
  aria-hidden="{{ !listFormCtrl.visible }}"
  action="javascript:void(0);"
  >
    <button 
    class="ListForm-closeButton close"
    type="button"
    name="ListForm-closeButton"
    aria-label="Close"
    data-ng-click="listFormCtrl.hideFormAndClearInputs()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    
    
    <div class="form-group">
      <label 
      for="ListForm-name" 
      class="ListForm-formLabel"
      >List name</label>
      
      <input 
      id="ListForm-name"
      required
      autofocus
      type="text" 
      name="name" 
      class="form-control"
      placeholder="List name"
      data-ng-model="listFormCtrl.newList.name"
      >
    </div>
    
    
    <div class="form-group">
      <label 
      for="ListForm-description" 
      class="ListForm-formLabel"
      >Description</label>
      
      <input 
      id="ListForm-description"
      type="text" 
      name="description" 
      class="form-control"
      placeholder="Description"
      data-ng-model="listFormCtrl.newList.description"
      >
    </div>
    
    
    <button 
    id="ListForm-createListButton"
    type="submit"
    name="ListForm-createListButton"
    class="ListForm-button btn btn-primary pull-right"
    data-ng-click="listForm.$valid && listFormCtrl.createList()"
    >Create</button>
    
  </form>
</section>
