@import '../../style/theme';


.is-hidden-below-md {
  display: none;
  @media screen and (min-width: $bootstrap-md-min) {
    display: inherit;
  }
}

.is-not-hidden-while-current-list-exists {
  display: none;
}

.current-list-exists {
  
  .is-hidden-while-current-list-exists {
    display: none;
    @media screen and (min-width: $bootstrap-md-min) {
      display: inherit;
    }
  }
  
  .is-not-hidden-while-current-list-exists {
    display: inherit;
    @media screen and (min-width: $bootstrap-md-min) {
      display: none;
    }
  }
  
  .is-current-list {
    // list-groups goofy unless this set to inherit, doesnt work for unset
    display: inherit;
    border-radius: 4px;
    
    .is-hidden-below-md {
      // buttons goofy unless this set to unset, doesnt work for inherit
      display: unset;  
    }    
  }
}

.Board {
  height: 100%;
}

.Board-contentListWrapper {
  position: relative;
  height: calc(100% - 75px);
}

.Board-contentList {
  position: relative;
  height: 100%;
  @media screen and (min-width: $bootstrap-md-min) {
    position:    absolute;
    top:         0;
    left:        0;
    right:       0;
    bottom:      0;
    white-space: nowrap;
    overflow-x:  auto;
    overflow-y:  hidden;
  }
}

.Board-contentWrapper {
  @media screen and (min-width: $bootstrap-md-min) {
    display:        inline-block;
    width:          400px;
    height:         100%;
    vertical-align: top; 
    margin-left:    20px;
    border-radius:  $borderRadius;
    white-space:    nowrap;
    
    &:last-of-type {
      margin-right: 20px;
    }
  }
}
