<section class="ItemForm-wrapper clearfix">
  <!-- close button -->
  
  <button 
  type="button" 
  name="ItemForm-closeButton"
  class="ItemForm-closeButton close"
  data-ng-click="itemFormCtrl.hideFormAndClearInputs()"
  aria-label="Close"
  aria-controls="{{ itemFormCtrl.list.name }}ItemForm-form"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  
  <form 
  id="{{ itemFormCtrl.list.name }}ItemForm-form"
  name="itemForm"
  class="ItemForm-form todoForm" 
  action="javascript:void(0);" 
  novalidate
  >
    <h4 class="ItemForm-name todoForm-header">New item:</h4>
    <div class="form-group">
      <label for="{{ itemFormCtrl.list.name }}ItemForm-name" class="ItemForm-label todoForm-label">Name</label>
      <input 
      id="{{ itemFormCtrl.list.name }}ItemForm-name"
      required
      autofocus
      type="text" 
      name="name" 
      class="ItemForm-input form-control"
      placeholder="Item name"
      data-ng-model="itemFormCtrl.newItem.name"
      aria-label="Item name"
      >
    </div>  
      
    <div class="form-group">  
      <label for="{{ itemFormCtrl.list.name }}ItemForm-content" class="ItemForm-label todoForm-label">Content</label>
      <input 
      id="{{ itemFormCtrl.list.name }}ItemForm-content"
      type="text" 
      name="content" 
      class="ItemForm-input form-control"
      placeholder="Item content"
      data-ng-model="itemFormCtrl.newItem.content"
      aria-label="Item content"
      >
    </div>
      
    <div class="form-group">  
      <button 
      type="submit" 
      name="button"
      class="btn btn-primary pull-right"
      data-ng-click="itemForm.$valid && itemFormCtrl.createItem()"
      >Add item</button>  
    </div>
    
  </form>
  
  
  
  
</section>
